# Ignore everything by default
*

# Don't ignore the .gitignore file itself
!.gitignore

# Include Badass Neovim/Terminal configs
!/.zshrc
!/.p10k.zsh
!/.tmux.conf
# Allow .config directory
!/.config

# Ignore everything inside .config except nvim
/.config/*
!/.config/nvim/
!/.config/nvim/**
